<%- include("partials/header.ejs") %>

    <main class="gold-back ">
        <div class="book-info container-fluid m-0">
            <div class="row py-5 px-5 g-1 justify-content-center">
                <div class="col-12 col-md-3">
                    <div style="height: 300px; width: 200px; background-color: black;"></div>
                </div>
                <div class="col-12 col-md-9">
                    <h2 class="green-font">Title</h2>
                    <h4 class="green-font">Author</h4>
                    <h6>Category</h6>
                    <h6>Rating: 4.5/5</h6>
                    <p>Added by: Full name </br>
                    Date: 12-05-2023</p>
                    <p>
                        This book is a detective horror book. I would say that Sweedish writers are pretty graphic and brutal. It is very clever and keeps you on the edge of your seat, but i would not recommend it if you don't have a strong stomach.
                    </p>
                </div>
            </div>
                <div class="row py-5 px-5 justify-content-center">
                    <ul style="list-style-type: none;">
                        <li>
                            <p>Maria Lianou</br>
                            <p>4/5</br>
                            <p>I loved this book but it was not my favorite of the series. At a point it became pretty violent. The thing that keeps you going is acctually the story of the characters. This stays common in every book keeping you reading each one of them.</p>
                            <hr />
                        </li>
                        <li>
                            <p>Full name </br>
                            <p>Rating</br>
                            <p>Some comment</p>
                            <hr />
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

    </main>

<%- include("partials/footer.ejs") %>