<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/style/style.css" rel="stylesheet">
    <title>Bookie Home</title>
</head>
<body class="dark-back justify-content-center align-items-center">
    <div>
        <h1 class="coper-font site-title">Bookie</h1>
    </div>
    <div>    
        <form action="/login" method="POST">
            <input class="form-control mb-2" type="text" name="username" placeholder="username" required>
            <input class="form-control mb-2 " type="text" name="pword" placeholder="password" required>
            <% if (locals) { %><p style="color: red;"><%= locals.error %></p><% } %>
            <input class="btn btn-light d-block mb-2" type="submit" name="login" value="Log in">
            <input class="btn btn-outline-light" type="submit" name="signin" value="Sign in">
        </form>
    </div>
    

    <!-- include bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>